.add-proposal__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 980px;
  width: 100%;
}

.add-proposal__title {
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
}

.add-proposal__success {
  padding: 30px;
  text-align: center;
}