.add-proposal__form {
    width: 780px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 20px;
}

.add-proposal__radio label {
    line-height: 30px;
}

.add-proposal__body {
    padding: 20px;
    margin: 20px 0;
}

.add-proposal__body label {
    margin: 20px 0;
}

.add-proposal__body span {
    width: 200px;
}