.waitlist {
  width: 1030px;
  margin-bottom: 40px;
  overflow: hidden;
}

.waitlist-item {
  max-width: 1020px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 2px;
  transition: all 0.3s;
}

.waitlist-item:last-child {
  margin-bottom: 0;
}

.waitlist-item .tokenTribute {
  width: 160px;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.waitlist-item .btn {
  padding: 0 20px;
}

.waitlist-item .btn.btn-success {
  margin-right: 20px;
}

.waitlist-item .applicant {
  width: 100%;
  max-width: 190px;
  text-align: right;
  padding-right: 20px;
}

@media screen and (max-width: 1240px) {
  .waitlist {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .waitlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .waitlist-item {
    width: calc((100% - 20px) / 2);
    flex-direction: column;
    align-items: center;
  }

  .waitlist-item .tokenTribute,
  .waitlist-item .applicant {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .waitlist-item .tokenTribute {
    padding-bottom: 15px;
  }

  .waitlist-item .applicant {
    text-align: center;
    padding: 0 0 20px;
  }

  .waitlist-item .btn {
    width: 200px;
  }

  .waitlist-item .btn.btn-success {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .waitlist {
    width: 100%;
  }
}

@media screen and (max-width: 459px) {
  .container {
    width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .waitlist .waitlist-item {
    padding-right: 15px;
  }
}

.waitlist .spiner-wrapper {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}
