.member-modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.member-modal__form .member-modal__balance {
  width: 100%;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

.member-modal__form .balance-info span {
  font-weight: 600;
  font-size: 17px;
  color: #fff;
}

.member-modal__form .member-modal__amount {
  width: 100%;
  padding-bottom: 20px;
}

.member-modal__form .btn.btn-success {
  width: 100%;
}

.member-modal__form.long .btn {
  max-width: 200px;
}
