.admin-link {
  background: #2bd071;
  border-radius: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: 0;
  top: calc(50% - 150px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform:rotate(-90deg);
  transform-origin: bottom right;
  width: 150px;

  &:hover {
    color: #ffffff;
    background: #12582f;
  }
}
